@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");
body {
  font-family: 'Mulish', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
}

.heading_container h2 span {
  color: #44b89d;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub_page .hero_area {
  min-height: auto;
}

.header_section {
  background-color: #063547;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.top_nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  position: relative;
}

.search_form .form-control {
  border-radius: 45px;
  height: 40px;
  min-width: unset;
  border: none;
}

.search_form button {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #44b89d;
  border-radius: 100%;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}

.navbar-brand span {
  color: #ffffff;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 10px 25px;
  color: #ffffff;
  text-align: center;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 75px 0;
  background-color: #f5f6f9;
  position: relative;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box h5 {
  color: #44b89d;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 58px;
  font-size: 3rem;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #44b89d;
  color: #ffffff;
  border-radius: 45px;
  border: 1px solid #44b89d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 15px;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #44b89d;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel_btn_box {
  position: absolute;
  bottom: 0;
  left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 105px;
  height: 50px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  z-index: 3;
}

.slider_section .carousel_btn_box .carousel-control-prev,
.slider_section .carousel_btn_box .carousel-control-next {
  position: unset;
  width: 50px;
  height: 50px;
  background-color: #063547;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 18px;
  border-radius: 100%;
}

.slider_section .carousel_btn_box .carousel-control-prev img,
.slider_section .carousel_btn_box .carousel-control-next img {
  width: 10px;
}

.slider_section .carousel_btn_box .carousel-control-prev:hover,
.slider_section .carousel_btn_box .carousel-control-next:hover {
  background-color: #44b89d;
}

.catagory_section {
  position: relative;
}

.catagory_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 45px;
  background-color: #ffffff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.catagory_section .box .img-box {
  width: 110px;
  min-width: 110px;
  height: 110px;
  margin-bottom: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f1f2f3;
  border-radius: 100%;
}

.catagory_section .box .img-box img {
  width: 55px;
}

.catagory_section .box .detail-box h5 {
  font-weight: bold;
}

.catagory_section .box .detail-box p {
  margin: 0;
}

.catagory_section .box .detail-box a {
  color: #44b89d;
}

.catagory_section .box .detail-box a:hover {
  color: #44b89d;
}

.catagory_section .box:hover {
  border-color: #44b89d;
}

.catagory_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.catagory_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #44b89d;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #44b89d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.catagory_section .btn-box a:hover {
  background-color: transparent;
  color: #44b89d;
}

.about_section .layout_padding {
  position: relative;
  background-color: #f5f6f9;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #44b89d;
  color: #ffffff;
  border-radius: 45px;
  border: 1px solid #44b89d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #44b89d;
}

.client_section .client_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-top: 45px;
}

.client_section .client_container .client_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .client_container .client_id h5 {
  color: #1d1b28;
  font-weight: 600;
  margin-bottom: 5px;
}

.client_section .client_container .client_id h6 {
  margin-bottom: 0;
}

.client_section .client_container .img-box {
  width: 125px;
  margin-right: 15px;
}

.client_section .client_container .img-box img {
  width: 100%;
  border-radius: 100%;
}

.client_section .client_container .detail-box {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 25px;
  background: #063547;
  color: #ffffff;
}

.client_section .client_container .detail-box span {
  margin-top: 25px;
  color: #44b89d;
  font-size: 28px;
}

.blog_section layout_padding{
  background-color: #f5f6f9;
}

.blog_section .box {
  margin-top: 55px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.blog_section .box .img-box {
  position: relative;
}

.blog_section .box .img-box .blog_date {
  position: absolute;
  left: 25px;
  bottom: 0;
  padding: 10px 25px;
  font-size: 18px;
  background-color: #063547;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 3px solid #ffffff;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.blog_section .box .img-box img {
  width: 100%;
}

.blog_section .box .detail-box {
  padding: 45px 25px 25px 25px;
  background: #ffffff;
}

.blog_section .box .detail-box h5 {
  font-weight: bold;
}

.blog_section .box .detail-box p {
  font-size: 15px;
}

.blog_section .box .detail-box a {
  color: #44b89d;
}

.contact_section h2 {
  margin-bottom: 45px;
}

.contact_section form {
  padding-right: 35px;
}

.contact_section input {
  width: 100%;
  border: 0;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 25px;
  padding-left: 25px;
  outline: none;
  color: #101010;
  background: #f1f1f1;
}

.contact_section input::-webkit-input-placeholder {
  color: #131313;
}

.contact_section input:-ms-input-placeholder {
  color: #131313;
}

.contact_section input::-ms-input-placeholder {
  color: #131313;
}

.contact_section input::placeholder {
  color: #131313;
}

.contact_section input.message-box {
  height: 120px;
  border-radius: 15px;
}

.contact_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.contact_section button {
  display: inline-block;
  padding: 12px 45px;
  background-color: #44b89d;
  color: #ffffff;
  border-radius: 45px;
  border: 1px solid #44b89d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}

.contact_section button:hover {
  background-color: transparent;
  color: #44b89d;
}

.contact_section .img-box img {
  width: 100%;
}

.info_section {
  background-color: #063547;
  color: #ffffff;
  padding: 45px 0 15px 0;
}

.info_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.info_section .info-col {
  margin-bottom: 30px;
}

.info_section .info_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
  color: #44b89d;
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.info_section .info_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #063547;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ffffff;
  border-radius: 100%;
  margin-right: 5px;
  font-size: 18px;
}

.info_section .info_social a:hover {
  color: #44b89d;
}

.info_section form input {
  border: none;
  padding: 10px 15px;
  background-color: #f7f8f9;
  width: 100%;
  height: 45px;
  color: #000000;
  outline: none;
  border-radius: 45px;
}

.info_section form input::-webkit-input-placeholder {
  color: #556;
}

.info_section form input:-ms-input-placeholder {
  color: #556;
}

.info_section form input::-ms-input-placeholder {
  color: #556;
}

.info_section form input::placeholder {
  color: #556;
}

.info_section form button {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 10px 55px;
  background-color: #44b89d;
  color: #ffffff;
  border-radius: 45px;
  border: 1px solid #44b89d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 15px;
}

.info_section form button:hover {
  background-color: transparent;
  color: #44b89d;
}

.info_section .map_container {
  width: 100%;
  height: 210px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.info_section .map_container .map {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.info_section .map_container .map #googleMap {
  height: 100%;
}

/* footer section*/
.footer_section {
  position: relative;
  background-color: #ffffff;
  text-align: center;
}

.footer_section p {
  color: #063547;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */


@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");
.about {
  position: fixed;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: all 0.2s ease;
}
.about .bg_links {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  backdrop-filter: blur(5px);
  position: absolute;
}
.about .logo {
  width: 40px;
  height: 40px;
  z-index: 9;
  background-image: url(https://rafaelalucas91.github.io/assets/codepen/logo_white.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 10px 7px;
  opacity: 0.9;
  transition: all 1s 0.2s ease;
  bottom: 0;
  right: 0;
}
.about .social {
  opacity: 0;
  right: 0;
  bottom: 0;
}
.about .social .icon {
  width: 100%;
  height: 100%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: flex;
  transition: all 0.2s ease, background-color 0.4s ease;
  opacity: 0;
  border-radius: 100%;
}
.about .social.portfolio {
  transition: all 0.8s ease;
}
.about .social.portfolio .icon {
  background-image: url(https://rafaelalucas91.github.io/assets/codepen/link.svg);
}
.about .social.dribbble {
  transition: all 0.3s ease;
}
.about .social.dribbble .icon {
  background-image: url(https://rafaelalucas91.github.io/assets/codepen/dribbble.svg);
}
.about .social.linkedin {
  transition: all 0.8s ease;
}
.about .social.linkedin .icon {
  background-image: url(https://rafaelalucas91.github.io/assets/codepen/linkedin.svg);
}
.about:hover {
  width: 105px;
  height: 105px;
  transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .logo {
  opacity: 1;
  transition: all 0.6s ease;
}
.about:hover .social {
  opacity: 1;
}
.about:hover .social .icon {
  opacity: 0.9;
}
.about:hover .social:hover {
  background-size: 28px;
}
.about:hover .social:hover .icon {
  background-size: 65%;
  opacity: 1;
}
.about:hover .social.portfolio {
  right: 0;
  bottom: calc(100% - 40px);
  transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.portfolio .icon:hover {
  background-color: #698fb7;
}
.about:hover .social.dribbble {
  bottom: 45%;
  right: 45%;
  transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.dribbble .icon:hover {
  background-color: #ea4c89;
}
.about:hover .social.linkedin {
  bottom: 0;
  right: calc(100% - 40px);
  transition: all 0.3s 0.25s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.linkedin .icon:hover {
  background-color: #0077b5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button,
a,
i,
input,
figure,
img {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
}
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
ul:focus,
li:focus,
button:focus,
a:focus,
i:focus,
input:focus,
figure:focus,
img:focus {
  outline: 0;
}

div {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  height: auto;
  font-family: "Barlow", sans-serif;
  background: white;
}

.wrapper .module-team {
  position: relative;
}
.wrapper .module-team:before {
  width: 100%;
  height: 380px;
  background-color: #EAEAEA;
  content: '';
  position: absolute;
  z-index: -1;
}
@media screen and (max-width: 799px) {
  .wrapper .module-team:before {
    height: 250px;
  }
}
.wrapper .module-team .team {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 5%;
}
@media screen and (max-width: 799px) {
  .wrapper .module-team .team {
    padding: 50px 0%;
  }
}
.wrapper .module-team .team .title {
  text-align: center;
  margin-bottom: 80px;
  color: #6F7073;
  font-size: 44px;
  line-height: normal;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100px;
}
.wrapper .module-team .team .title:before {
  content: '';
  position: absolute;
  width: 80px;
  height: 10px;
  background: #6F7073;
  border-radius: 50px;
  bottom: 0;
  opacity: 0.2;
}
@media screen and (max-width: 799px) {
  .wrapper .module-team .team .title:before {
    width: 60px;
    height: 5px;
  }
}
@media screen and (max-width: 799px) {
  .wrapper .module-team .team .title {
    font-size: 32px;
    height: 60px;
    margin-bottom: 40px;
  }
}
.wrapper .module-team .team .team-cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.wrapper .module-team .team .team-cards .swiper-container {
  max-width: 920px;
  height: 360px;
  padding: 0 20px;
  cursor: default;
  /* Card */
}
@media screen and (max-width: 1180px) {
  .wrapper .module-team .team .team-cards .swiper-container {
    max-width: 600px;
  }
}
@media screen and (max-width: 799px) {
  .wrapper .module-team .team .team-cards .swiper-container {
    max-width: 280px;
    height: 370px;
    padding: 0 20px;
    overflow: visible;
  }
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide {
  background-color: white;
  width: 280px !important;
  height: 320px;
  border-radius: 4px;
  box-shadow: inset 0px 0px 0px 1px #EDEEF4;
  position: relative;
  transition: all 0.4s ease;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0px 20px 40px -20px #EAEAEA;
  top: 0px;
  z-index: -1;
  transition: all 0.4s ease;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .bg {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  border-radius: 4px 4px 0px 0px;
  transition: all 0.4s ease;
  background: linear-gradient(140deg, #D45B7A, #FDA576);
  z-index: 1;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .more {
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.4s ease;
  border-radius: 100%;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .more:before, .wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .more:after {
  width: 16px;
  height: 2px;
  background-color: white;
  content: '';
  position: absolute;
  border-radius: 4px;
  transition: all 0.4s ease;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .more:after {
  transform: rotate(90deg);
}
@media screen and (max-width: 799px) {
  .wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .more {
    padding: 10px;
    top: 10px;
    right: 10px;
  }
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .more:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 799px) {
  .wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .more:hover {
    transform: scale(1);
    background-color: transparent;
  }
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .photo {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 40px;
  border: 3px solid #FFFFFF;
  transition: all 0.4s ease;
  box-shadow: 0px 4px 10px rgba(111, 112, 115, 0.3);
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .photo:before, .wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .photo:after {
  width: 100%;
  height: 100px;
  border-radius: 4px;
  content: '';
  position: absolute;
  transition: all 0.4s ease;
  opacity: 0;
  left: 0;
  top: 0;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .photo:before {
  background: #403E3E;
  z-index: 1;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .photo:after {
  background: linear-gradient(140deg, #D45B7A, #FDA576);
  z-index: 2;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .text {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  transform: translateY(50px);
  transition: all 0.3s ease;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .text .name {
  font-size: 20px;
  color: #6F7073;
  font-weight: 300;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .text .role {
  font-size: 14px;
  font-weight: 600;
  color: #CBCBCB;
  letter-spacing: 0.8px;
  margin-top: 5px;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .text .desc {
  color: white;
  display: none;
  margin-top: 20px;
  font-size: 16px;
  letter-spacing: 0.6px;
  text-align: center;
  padding: 0 40px;
  font-weight: 400;
  line-height: 22px;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .social {
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: rgba(234, 234, 234, 0.5);
  box-shadow: inset 0px 11px 13px -20px #6F7073;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  border-radius: 0px 0px 4px 4px;
  transition: all 0.4s ease;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .social .pointer {
  display: block;
  width: 10px;
  height: 10px;
  z-index: 2;
  bottom: 50px;
  position: absolute;
  transform: translateX(25px);
  transition: all 0.4s ease;
  opacity: 0;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .social .pointer:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  transform: rotate(45deg);
}
@media screen and (max-width: 799px) {
  .wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .social .pointer {
    display: none;
  }
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .social .icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .social .icons .icon {
  width: 25%;
  height: 24px;
  opacity: 0.3;
  transition: all 0.4s ease;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .social .icons .icon:hover {
  opacity: 0.6;
}
@media screen and (max-width: 799px) {
  .wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .social .icons .icon:hover {
    opacity: 0.3;
  }
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .social .icons .icon img {
  width: 100%;
  height: 100%;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .social:hover .pointer {
  opacity: 1;
  bottom: 45px;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide:hover {
  transform: translateY(3px);
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide:hover:before {
  box-shadow: 0px 10px 10px -10px #EAEAEA;
}
@media screen and (max-width: 799px) {
  .wrapper .module-team .team .team-cards .swiper-container .swiper-slide:hover {
    transform: translateY(0px);
  }
  .wrapper .module-team .team .team-cards .swiper-container .swiper-slide:hover:before {
    box-shadow: 0px 20px 40px -20px #EAEAEA;
  }
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide:hover .card .photo {
  transform: translateY(-5px);
  box-shadow: 0px 6px 20px rgba(111, 112, 115, 0.3);
}
@media screen and (max-width: 799px) {
  .wrapper .module-team .team .team-cards .swiper-container .swiper-slide:hover .card .photo {
    transform: translateY(0px);
    box-shadow: 0px 4px 10px rgba(111, 112, 115, 0.3);
  }
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card {
  overflow: hidden;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .more {
  transform: rotate(45deg) scale(1);
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .more:hover {
  transform: rotate(45deg) scale(1.1);
}
@media screen and (max-width: 799px) {
  .wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .more:hover {
    transform: rotate(45deg) scale(1);
  }
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .social {
  transform: translateY(55px);
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .text {
  color: white;
  transform: translateY(0px);
  transition: all 0.6s ease;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .text .name,
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .text .role {
  color: white;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .text .desc {
  display: block;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .photo {
  width: 100%;
  height: 100%;
  top: 0px;
  border: solid 0px transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(111, 112, 115, 0);
  transform: translateY(0px);
  transition: all 0.4s ease;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .photo:before {
  height: 100%;
  opacity: 0.5;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .photo:after {
  height: 100%;
  opacity: 0.8;
  border-radius: 4px;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .photo img {
  filter: grayscale(100%);
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .photo:hover {
  transform: translateY(0px);
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .bg {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .bg:before {
  opacity: 0.5;
}
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .bg:after {
  opacity: 0.8;
}
.wrapper .module-team .team .team-cards .swiper-pagination {
  bottom: 0;
  display: none;
}
@media screen and (max-width: 799px) {
  .wrapper .module-team .team .team-cards .swiper-pagination {
    display: block;
  }
}
.wrapper .module-team .team .team-cards .swiper-pagination .swiper-pagination-bullet {
  background-color: #6F7073;
  margin: 0 5px;
  border-radius: 5px;
  transition: all 0.4s ease;
}
.wrapper .module-team .team .team-cards .swiper-pagination .swiper-pagination-bullet:focus {
  outline: 0;
}
.wrapper .module-team .team .team-cards .swiper-pagination .swiper-pagination-bullet-active {
  background: linear-gradient(140deg, #D45B7A, #FDA576);
  width: 16px;
}
.wrapper .module-team .team .team-cards .navigation {
  width: 1098px;
  height: 28px;
  position: absolute;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
  top: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1180px) {
  .wrapper .module-team .team .team-cards .navigation {
    width: 750px;
  }
}
.wrapper .module-team .team .team-cards .navigation .swiper-button-prev,
.wrapper .module-team .team .team-cards .navigation .swiper-button-next {
  width: 28px;
  height: 28px;
  background-position: center;
  transition: all 0.4s ease;
  top: 0;
  margin-top: 0;
}
.wrapper .module-team .team .team-cards .navigation .swiper-button-prev:focus,
.wrapper .module-team .team .team-cards .navigation .swiper-button-next:focus {
  outline: none;
}
@media screen and (max-width: 799px) {
  .wrapper .module-team .team .team-cards .navigation .swiper-button-prev,
  .wrapper .module-team .team .team-cards .navigation .swiper-button-next {
    display: none;
  }
}
.wrapper .module-team .team .team-cards .navigation .swiper-button-prev {
  background-image: url("https://rafaelalucas.com/dailyui/6/assets/arrow-prev.svg");
  background-position-x: 5px;
  transform: translateX(5px);
}
.wrapper .module-team .team .team-cards .navigation .swiper-button-prev:hover {
  transform: translateX(0px);
}
.wrapper .module-team .team .team-cards .navigation .swiper-button-next {
  background-image: url("https://rafaelalucas.com/dailyui/6/assets/arrow-next.svg");
  background-position-x: -5px;
  transform: translateX(-5px);
}
.wrapper .module-team .team .team-cards .navigation .swiper-button-next:hover {
  transform: translateX(0px);
}
@media screen and (max-width: 799px) {
  .about {
    width: 30px;
    height: 30px;
  }
  .about .logo {
    background-size: 40%;
  }
  .about .social {
    right: -30px;
    bottom: -30px;
  }
  .about .social.portfolio {
    right: -30px;
    bottom: calc(100% - 30px);
  }
  .about .social.dribbble {
    bottom: 35%;
    right: 35%;
  }
  .about .social.linkedin {
    right: calc(100% - 30px);
    bottom: 0;
  }
}

@media screen and (max-width: 1180px) {
  .wrapper .module-team .team .team-cards .swiper-container {
    max-width: 600px;
  }
}

@media screen and (max-width: 799px) {
  .wrapper .module-team .team .team-cards .swiper-container {
    max-width: 280px;
    height: 370px;
  }
}

@media screen and (max-width: 799px) {
  .wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .more {
    padding: 10px;
    top: 10px;
    right: 10px;
  }
}

@media screen and (max-width: 799px) {
  .wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .text .desc {
    padding: 0 20px;
  }
}

@media screen and (max-width: 799px) {
  .wrapper .module-team .team .team-cards .swiper-pagination {
    display: block;
  }
}

@media screen and (max-width: 1180px) {
  .wrapper .module-team .team .team-cards .navigation {
    width: 750px;
  }
}

@media screen and (max-width: 799px) {
  .wrapper .module-team .team .team-cards .navigation .swiper-button-prev,
  .wrapper .module-team .team .team-cards .navigation .swiper-button-next {
    display: none;
  }
}

.wrapper .module-team .team .team-cards .navigation .swiper-button-prev,
.wrapper .module-team .team .team-cards .navigation .swiper-button-next {
  width: 28px;
  height: 28px;
  background-position: center;
  transition: all 0.4s ease;
  top: 0;
  margin-top: 0;
}

.wrapper .module-team .team .team-cards .navigation .swiper-button-prev:focus,
.wrapper .module-team .team .team-cards .navigation .swiper-button-next:focus {
  outline: none;
}

.wrapper .module-team .team .team-cards .navigation .swiper-button-prev {
  background-image: url("https://rafaelalucas.com/dailyui/6/assets/arrow-prev.svg");
  background-position-x: 5px;
  transform: translateX(5px);
}

.wrapper .module-team .team .team-cards .navigation .swiper-button-prev:hover {
  transform: translateX(0px);
}

.wrapper .module-team .team .team-cards .navigation .swiper-button-next {
  background-image: url("https://rafaelalucas.com/dailyui/6/assets/arrow-next.svg");
  background-position-x: -5px;
  transform: translateX(-5px);
}

.wrapper .module-team .team .team-cards .navigation .swiper-button-next:hover {
  transform: translateX(0px);
}
